body{
    background-color: #0f172a;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.grid{
    display: grid;

    grid-template-areas:
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";

    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;

    gap: 10px;
}

.caja{
    color: white;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    grid-area: uno;
    background-color: red;
}

.dos{
    grid-area: dos;
    background-color: orange;
}

.tres{
    grid-area: tres;
    background-color: green;
}

.cuatro{
    grid-area: cuatro;
    background-color: blue;
}

.cinco{
    grid-area: cinco;
    background-color: purple;
}

.seis{
    grid-area: seis;
    background-color: pink;
}

.siete{
    grid-area: siete;
    background-color: cyan;
}

.ocho{
    grid-area: ocho;
    background-color: yellowgreen;
}

.nueve{
    grid-area: nueve;
    background-color: orangered;
}