body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: x-large;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 40px 40px;
  background: #111;
  color: white;
}

.logo {
  font-weight: bold;
}

.links {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0 auto; 
  padding: 0;
}

.links a {
  text-decoration: none;
  color: white;

}

.btn {
  background: #3b82f6;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}